body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
       -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; 
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(58, 58, 58);
      overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#loginModal > div.MuiDialog-container.MuiDialog-scrollPaper > div{
  display: flex !important;
  display: -webkit-box !important;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox !important;  /* TWEENER - IE 10 */
  display: -webkit-flex !important; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  max-height: calc(100% - 64px) !important;
  background-color: #c31850 !important;
  color: white !important;
  width: 50vh !important;
  flex-wrap: nowrap !important;
  align-content: stretch !important;
  justify-content: center !important;
  align-items: stretch !important;
}

.color-pick-button {
  margin-top: 16px;
  cursor: pointer;
}

.content {
  display: flex;
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.chat-container {
  order: 2;
  flex: 0 1 auto;
  align-self: auto;
  min-width: 0;
  width: 600px;
  display: flex;
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  height: 100vh;
  min-height: auto;
  flex-basis: 300px;
  box-shadow: -2px -9px 5px #0c0c0c8f;
}

.chat {
  width: 100%;
  text-align: center; 
  position: relative;
  flex: 0 1 auto;
  align-self: auto;
  min-width: 0;
  display: flex;
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  min-height: auto;
  background-color: #292929;
  flex-direction: column;
  align-items: center;
}

.chat-tabs {
  flex: 0 1 auto;
  min-height: auto;
  background-color: #292929;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid black;
}

.chatTab {
    flex: 0 1 auto;
    min-height: auto;
    background-color: #292929;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
}

.chat-messages {
  width: 100%;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: #292929;
  list-style-type: none;
  overflow-y: auto;
  align-self: auto;
  height: calc(100% - 60px - 74px);
  position: absolute;
}


.chat-bar { 
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  display: flex;
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-direction: column;
  list-style-type: none;
  background-color: #292929;
  flex-basis: 73px;
  border-top: 1px solid;
}

.input-bar input {
  margin: 10px;
  border-width: 0px;
  border-radius: 5px;
  text-indent: 10px;
  font-size: 1.0em;
  height: 35px !important;
  width: 230px;
  background-color: #313131 !important;
  color: white !important;
  flex-basis: calc(100% - 30px);
}

.input-bar {
  display: flex;
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  align-items: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.emoji-button {
  width: 30px !important;
  height: 30px !important;
  font-size: 1.5em !important;
  color: rgba(255, 255, 255, 0.507);
  cursor: pointer;
  transition: color 1s;
  flex-basis: 30px;
  padding-right: 10px;
}

.emoji-button:hover {
  /* font-size: 1.2em; */
  color: rgba(255, 255, 255, 0.815);
}

.MuiTab-labelIcon {
  min-height: 60px !important;
}

.MuiTab-root {
  padding: 0 !important;
}

.chat-message-text {
  text-align: left;
  width: 100%;
}

.ScrollbarsCustom-Content li:nth-child(odd){
  background-color: #45434354;
}

.send-button:hover {
  background-color: #302f2f;
}

.react-emoji-picker--wrapper {
  width: 356px !important;
}

.chat-message {
  display: flex;
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  padding: 10px;
  font-size: 0.9em;
  background-color: rgba(22, 22, 22, 0.233);
}

.room-announcement {
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    padding: 10px;
    font-size: 0.9em;
    background-color: #4a4345;
}

.msg-username {
  color: rgb(41, 245, 245);
  display: inline;
  vertical-align: baseline;
  position: relative;
  overflow: hidden;
  font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.375rem;
}

.msg-time-stamp {
    font-size: 0.5em;
    color: gray;
    font-weight: 300;
    margin-left: 7px;
}

.is-typing-label {
  color: white;
  font-size: 0.9em;
  margin-left: 20px;
  height: 15px;
}

.msg-text {
  margin-left: 4px;
  color: white;
  word-wrap: break-word;
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.MuiDialog-paperFullWidth {
  background-color: #8e2626 !important;
  color: white !important;
}

.MuiDialogContent-dividers {
  border-top: 1px solid rgb(255 255 255 / 28%) !important;
  border-bottom: 1px solid rgb(255 255 255 / 28%) !important;
}

.MuiInputLabel-animated {
  color: white !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid rgb(255 255 255 / 41%) !important;
}

.MuiButton-textPrimary {
  color: #efefef !important;
}

.MuiInputBase-root {
  color: rgb(253 253 253 / 87%) !important;
}

.hide {
  display: none !important;
}


.user-list {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

.user-list-item {
  padding: 8px;
  font-size: 1.2em;
  color: white;
  border-bottom: 1px solid black;
}

.MuiTab-root {
  min-width: 150px !important;
}

.send-button {
    background-color: #ca2b65;
    border-radius: 20px;
    padding: 5px;
    font-size: 0.9em;
    margin-right: 5px;
    color: white;
    cursor: pointer;
    display: none !important;
}

/*-------------Media Container Style---------------*/

.media-container {
  order: 1;
  flex: 0 1 auto;
  align-self: auto;
  min-width: 0;
  flex-direction: column;
  place-self: flex-start;
  display: flex;
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  min-height: auto;
  flex-basis: calc(100% - 300px);
  height: 100vh;
  background-color: rgb(31, 31, 31);
}

.media-nav {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    min-height: auto;
    background-color: #292929;
    flex-basis: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.media-display {
    order: 2;
    flex: 1 1 auto;
}

.media-display > * {
    width: 100%;
    height: calc(100%);
}

.media-search-bar {
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  display: flex;
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
}

.media-search-button {
  background-color: #383838 !important;
  border-radius: 0px !important;
  padding: 5px 16px !important;
  margin-left: 1px !important;
}

.media-search-input {
  width: 70vh;
  height: 30px;
  background-color: #111111;
  border: 1px solid #484848;
  color: white;
  max-width: 400px;
}

.MuiDialog-paperFullScreen {
  background-color: #1f1f1f !important;
  color: white !important;
}

.MuiAppBar-colorPrimary {
  background-color: #962f63 !important;
}

.MuiTypography-colorTextSecondary {
  color: rgb(255 255 255 / 54%) !important;
}

.MuiButton-outlinedPrimary {
  color: #000000 !important;
    border: 1px solid rgb(142 142 142 / 50%) !important;
}

.MuiButton-outlined {
  padding: 4px 0px !important;
}

.MuiListItemAvatar-root {
  margin-right: 20px;
}

.MuiButton-outlinedPrimary {
  border-radius: 0px !important;
}
/*---------Mobile Styling---------*/
@media only screen and (max-width: 800px) {
  .content {
    flex-flow: column nowrap;
  }
  .chat-container {
    box-shadow: none;
    width: 100%;
    flex-basis: auto;
    border-top: 1px solid black;
  }
  .media-container {
    width: 100%;
    flex-basis: auto;
  }
  .chat {
    /* background-color: rgb(15, 15, 15); */
  }
  .media-search-input {
    width: auto;
  }
  body {
    overflow: auto;
  }
  .send-button {
    display: block !important;
  }
}